<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="test.IDao.TestMapper" >
  <resultMap id="BaseResultMap" type="test.domain.Test" >
    <result column="test1" property="test1" jdbcType="VARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="test.domain.Test" >
    insert into test (test1)
    values (#{test1,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="test.domain.Test" >
    insert into test
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="test1 != null" >
        test1,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="test1 != null" >
        #{test1,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>